{{ define "main" }}

  <!-- Navigation -->
  <nav id="nav-header" class="nav nav-transparent">
    <div class="nav-content">
      <img class="logo" src="img/logo.svg">
      <span class="nav-group optional">
        <a class="nav-item" href="#sec-schedule">Schedule</a>
        {{ if .Site.Data.toggles.challenges }}<a class="nav-item" href="#sec-challenges">Challenges</a>{{ end }}
        {{ if .Site.Data.toggles.judges }}<a class="nav-item" href="#sec-judges">Judges</a>{{ end }}
        {{ if .Site.Data.toggles.sponsors }}<a class="nav-item" href="#sec-sponsors">Sponsors</a>{{ end }}
        <a class="nav-item" href="#sec-team">Team</a>
        {{ if .Site.Data.toggles.faq }}<a class="nav-item" href="#sec-faq">FAQ</a>{{ end }}
      </span>
    </div>
  </nav>

  <!-- Hero (logo and sign up) -->
  <div class="hero">
    <img class="logo" src="img/hero.svg">
    <div class="call-to-action">
      <div class="countdown">
        <span class="digit" data-label="days"></span>
        <span class="digit" data-label="hours"></span>
        <span class="digit" data-label="minutes"></span>
        <span class="date">29. Feb. 2020</span>
        <a href="#" class="button">Sign up opening soon</a>
        <a href="https://www.facebook.com/events/s/ai-hack-2020/755111851650782/" class="button subtle">
          Get Updates on Facebook
        </a>
      </div>
    </div>
  </div>

  <!-- Schedule -->
  <div id="sec-schedule" class="section">
    <h1>Schedule</h1>
    <div class="schedule">
      {{ range .Site.Data.schedule }}
        <ul class="day" data-day="{{ .day }}" data-date="{{ .date }}">
          {{ range .items }}
            <li data-time="{{ .time }}">{{ .title }}</li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>

  <!-- Challenges -->
  {{ if .Site.Data.toggles.challenges }}
    <div id="sec-challenges" class="section">
      <h1>Challenges</h1>
      {{ range .Site.Data.challenges }}
        <h2>{{ .title }}</h2>
        {{ .body | markdownify }}
        <hr>
      {{ end }}
    </div>
  {{ end }}

  <!-- Judges -->
  {{ if .Site.Data.toggles.judges }}
    <div id="sec-judges" class="section">
      <h1>Judges</h1>
      {{ partial "people.html" .Site.Data.judges }}
    </div>
  {{ end }}

  <!-- Sponsors -->
  {{ if .Site.Data.toggles.sponsors }}
    <div id="sec-sponsors" class="section">
      <h1>Sponsors</h1>
        <div class="logo-list" data-tier="Title Sponsor">
          <img src="img/sponsors/{{ .Site.Data.sponsors.title }}.svg">
        </div>
        <div class="logo-list" data-tier="Sponsor">
          {{ range .Site.Data.sponsors.general }}
            <img src="img/sponsors/{{ . }}.svg">
          {{ end }}
        </div>
        <div class="logo-list" data-tier="Cloud Provider">
          {{ range .Site.Data.sponsors.cloud }}
            <img src="img/sponsors/{{ . }}.svg">
          {{ end }}
        </div>
      </div>
  {{ end }}

  <!-- Team -->
  <div id="sec-team" class="section">
    <h1>Team</h1>
    {{ partial "people.html" .Site.Data.team }}
  </div>

  <!-- FAQ -->
  {{ if .Site.Data.toggles.faq }}
    <div id="sec-faq" class="section">
      <h1>Frequently Asked Questions</h1>
      {{ range .Site.Data.faq }}
        <button type="button" class="collapsible">{{ .question }}</button>
        <div class="collap-content">{{ .answer | markdownify }}</div>
      {{ end }}
    </div>
  {{ end }}

{{ end }}
